/* Universal Box Sizing */
*,
*::before,
*::after { box-sizing: border-box; }

/* global defaults */
html { height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  border-bottom: 5px solid #0170b4;
  padding: 1rem;
}

section.headerBlock {
  text-align: center;
}
